$primary: #1890ff;
$primary-hover: #0280b3;

//texto 
$text-light: #fff;

//background
$background-dark: #001b35;
$background-grey: #f0f3f4;
$background-dark-web: #16121b;

//border
$border-gray: #808080;

//status
$success: #84b84c;
$error: #9d3a38;

//social colors
$youtube: #cd201f;
$twitter: #1da1f2;
$facebook: #3b5998;
$linkedin: #0077b5;